.summary {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.summary__card {
  text-align: center;
  background-color: rgb(203, 231, 245);
}

.summary__card--active {
  color: white;
  background-color: rgb(46, 168, 224);
}
