@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
	font-family: "Lato", "sans-serif";
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(174, 218, 238);
}

#root {
	height: 100vh;
}
